<h1>Hello santhosh</h1>
<progress></progress>
<p>The tag in HTML is used to represent the completion progress of a task. It provides a visual indicator,
typically displayed as a progress bar, to show how much work has been completed. Here are some key points about the tag:
</p>
<hr>
<ul>
  <li>Exception</li>
  <li>Polymorhism</li>
  <li>Inheritence</li>
</ul>

<table>
  <tr>
    <th>S.No</th>
    <th>Name</th>
    <th>Age</th>
    </tr>
    <tbody>
      <tr>
        <td>1</td>
    <td>Santhosh</td>
    <td>24</td>
    </tr>
    <tr>
    <td>2</td>
    <td>Petchinathan</td>
    <td>27</td>
  </tr>
  </tbody>
  </table>


<!--...header and body content-->

<mat-card class="example-card" > 
  <mat-card-header class="example-header"
          style="padding-left: 40%;"> 
  <h2><span></span>GeeksforGeeks</h2 > 
  </mat-card-header> 
  <mat-card-content> 
    <img [src] ="ImagePath" 
      style="width: 600px;height: 400px;"> 
  </mat-card-content> 
  </mat-card> 
  
  <!--... body and footer content-->
  