table, th, td {
    border: 1px solid black;
    /* color: chocolate; */
}
.dance-step1 {
    animation: dance1 1s ease infinite alternate;
  }
  
  .dance-step2 {
    animation: dance2 1s ease infinite alternate;
  }
  
  .dance-step3 {
    animation: dance3 1s ease infinite alternate;
  }
  
  @keyframes dance1 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  
  @keyframes dance2 {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
  }
  
  @keyframes dance3 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
  }
  